
<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Recipe Book</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/recipes" class="nav-link">Recipes</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/shopping-list" class="nav-link">Shopping List</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown" appDropdown>
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" 
                        role="button" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">Manage
            </a>
  
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="onSafeData()">Safe data</a>
                  <a class="dropdown-item" (click)="onFetchData()">Fetch data</a>
                </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>


